@model DBContext.Models.ContentManagement
@using Site.Helpers

@{
    ViewData["SubTitle"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Select2 -->
<link rel="stylesheet" href="~/adminlte/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

<!-- Main content -->
<section class="container">
    <div class="">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="form-group col-md-offset-1 col-md-5">
                    <label asp-for="Name" class="control-label col-md-2"></label>
                    <select  class="form-control select2" style="width: 100%;" id="Name" name="Name">
                        @foreach (var item in Constants.ContentTypes)
                        {
                            @if (Model?.Name == item)
                            {
                                <option selected value="@item">@item</option>
                            }
                            else
                            {
                                <option value="@item">@item</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-offset-1 col-md-5">
                    <label asp-for="DisplayName" class="control-label col-md-2"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-offset-1 col-md-5">
                    <div class="icheck-primary d-inline">
                        <input asp-for="IsVisible" type="checkbox" id="checkboxPrimary3">
                        <label for="checkboxPrimary3">
                            IsVisible
                        </label>
                    </div>
                    <span asp-validation-for="IsVisible" class="text-danger"></span>
                </div>
                <div class="col-md-offset-1 col-md-5">
                    <label asp-for="ItemOrder" class="control-label col-md-2"></label>
                    <input asp-for="ItemOrder" class="form-control" />
                    <span asp-validation-for="ItemOrder" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-offset-1 col-md-5">
                    <label asp-for="Title" class="control-label col-md-2"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group col-md-offset-1 col-md-5">
                    <label asp-for="Description" class="control-label col-md-2"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-offset-1 col-md-5">
                    <label asp-for="AnchorText" class="control-label col-md-2"></label>
                    <input asp-for="AnchorText" class="form-control" />
                    <span asp-validation-for="AnchorText" class="text-danger"></span>
                </div>
                <div class="form-group col-md-offset-1 col-md-5">
                    <label asp-for="AnchorUrl" class="control-label col-md-2"></label>
                    <input asp-for="AnchorUrl" class="form-control" />
                    <span asp-validation-for="AnchorUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="form-group col-md-offset-1 col-md-11">
                    <label asp-for="ImageUrl" class="control-label col-md-2"></label>
                    <input type="file" name="file" value="@Model?.ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</section>
@section Scripts {

}