@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<!-- Contact form start -->
<div class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-inner-form">
                    <div class="details">
                        <a href="~/">
                            <img src="~/uploads/logo_cover.png" class="cm-logo" alt="black-logo">
                        </a>
                        <h3>@ViewData["Title"] Enter your email</h3>
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <input type="email" asp-for="Input.Email" class="input-text" placeholder="Email Address">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md btn-theme btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="footer">
                        <span>Back to <a asp-page="./Login">Login</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact form end -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}